<!DOCTYPE html>
<html ng-app="LunchCalculator">
<head>
    <!-- <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'> -->
    <title>Angular App</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'> -->
    <script src='angular.min.js'></script>
    <script src='app.js'></script>
    
</head>
<body > 
    <h1>My Diet App</h1>
    <div ng-controller="LunchCheckController">
        Enter your Lunch Items (comma seprated):<br><br>
     <input type="text" ng-model="LuchList" >
     <button ng-click="CheckMyLunch()">Check If Too Much</button>&nbsp;&nbsp;
     <span style="color:red;">*empty value is not accepted eg. item1, ,item3</span><br><br>
     <div style="color:blue">{{LunchMsg}}</div>
    </div>
    
</body>
</html>